<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>

        <div class="main-content">
            {{>header}}

            <p>Created by Aleks. Uses data from mapbox.com and weatherstack.com</p>
            <img class="portrait" src="img/train.jpg">
        </div>
        
        
        {{>footer}}
    </body>
</html>